# flagfile for the roq-okx gateway
# exchange servers are located in Alibaba, Hong Kong, China

--rest_uri=https://www.okx.com
--ws_public_uri=wss://ws.okx.com:8443/ws/v5/public
--ws_private_uri=wss://ws.okx.com:8443/ws/v5/private
