# flagfile for the roq-okx gateway

--name=okx
#--config_file=/usr/local/etc/roq-okx/config.toml
#--event_log_dir=/var/lib/roq/data
#--client_listen_address=/run/roq/roq-okx.sock
#--metrics_listen_address=/run/roq/metrics/roq-okx.sock
#--auth_keys_file=/usr/local/etc/roq/keys.json
#--auth_cache_dir=/var/lib
--rest_uri=https://www.okx.com
--ws_public_uri=wss://ws.okx.com:8443/ws/v5/public
--ws_private_uri=wss://ws.okx.com:8443/ws/v5/private
#--loop_cpu_affinity=1
--loop_sleep=500ns
--loop_timer_freq=2500ns
--event_log_iso_week=False
--event_log_symlink=True
--mbp_allow_price_inversion=True
